<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>re:flex</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"> <!-- 부트스트랩 -->
    <link href="css/style.css" rel="stylesheet">
   
    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/header.js"></script>

    <style>
    .height-45{
        height: 45px;
    }
    </style>

</head>
<body>

        <header class="container-fluid navbar-fixed-top">
            
                <!-- first line -->
                <div id="header-first" class="row">
                    <div id="logo" class="col-md-4">
                            <h1><a href="admin_header.html">re:flex</a></h1>
                    </div>
                    <div id="search" class="col-md-4">
                        <h2 class="sr-only">상품 검색</h2>
                        <form action="">
                            <button type="submit" id="btn-search" aria-label="search products">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            <input type="search" name="search" placeholder="검색">
                        </form>
                    </div>
                    <div id="header-first-menu" class="col-md-4">
                        <ul class="list-unstyled list-inline text-right">
                            <li><a href="#">관리인</a></li>
                            <li>
                                <h2 class="sr-only">장바구니</h2>
                                <a href="#" aria-label="cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                        <!-- side menu -->
                        <div>
                            <h2 class="sr-only">사이드메뉴</h2>
                            <button type="button"  id="btn-sidemenu">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </button>
                            <ul id="level1-sidemenu" class="list-unstyled sidemenu">
                                <li></li>
                                <li id="recommended" data-target="#level2-recommended"><a href="#">이럴 때 빌려봐<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">패션<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">뷰티<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">리빙<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">키즈<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">레저<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">고객서비스</a></li>
                            </ul>
                            <ul id="level2-recommended" class="list-unstyled sidemenu">
                                <li class="go-back text-center"><a href="#"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>이럴 때 빌려봐</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                                <li><a href="#">바캉스 갈 때</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        
                <!-- 2 line -->
                <nav id="header-second" class="line-style">
                    <h2 class="sr-only">메인메뉴</h2>
                    <ul class="list-unstyled list-inline">
                        <li><a href="admin_item.html">상품관리</a></li>
                        <li><a href="admin_order.html">주문관리</a></li>
                        <li><a href="admin_member.html">회원관리</a></li>
                    </ul>
                </nav>
            </header>

            <!-- 메인 컨텐츠 -->
            <div class="container-fluid contents">
                <!-- 이용후기 - 메뉴제목 -->
                <div class="row itemTitle">
                    <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 ">
                        <h3>이용후기조회</h3>
                    </div>
                </div>

                <!-- 한줄 여백 -->
                <div class="row height-45"></div>

                <!-- 이용 후기 - 개요 -->
                <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
                    <table class="table ">
                        <tr>
                            <th>전체 상품 수</th>
                            <th>판매중</th>
                            <th>품절</th>
                        </tr>
                        <tr>
                            <td>130</td>
                            <td>98</td>
                            <td>22</td>
                        </tr>
                    </table>
                </div>
                
                <!-- 한줄 여백 -->
                <div class="row height-45"></div>
            
                <!-- 이용후기 - 상품검색 서브제목 -->
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 ">
                        <h4>상품 검색</h4>
                    </div>
                </div>

                <!-- 이용후기 - 상품 검색 -->
                <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
                    <form class="form-inline">
                        <!-- 이용후기 - 검색 종류 선택 -->
                        <div class="form-group">
                            <select class="form-control">
                                <option>상품명</option>
                                <option>카테고리</option>
                                <option>상품번호</option>
                            </select>
                        </div>
                        <!-- 이용후기 - 검색어 입력 -->
                        <div class="form-group">
                          <input type="text" class="form-control" id="searchKeyword" placeholder="검색어를 입력하세요">
                        </div>
                        <button type="submit" class="btn btn-default">검색</button>
                    </form>
                    
                </div>

                <!-- 한줄 여백 -->
                <div class="row height-45"></div>
                

                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 ">
                        <h4>상품 목록</h4>
                    </div>
                </div>

                <!-- 이용후기 - 검색결과 서브제목 -->
                <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
                    <table class="table ">
                        <tr>
                            <th>상품번호</th>
                            <th>카테고리</th>
                            <th>상품명</th>
                            <th>상품가격</th>
                            <th>상품수량</th>
                            <th>상품평점</th>
                        </tr>
                        <tr>
                            <td>122943</td>
                            <td>육아할 때</td>
                            <td>유모차</td>
                            <td>138,000</td>
                            <td>20</td>
                            <td>3.8</td>
                        </tr>
                        <tr>
                            <td>493212</td>
                            <td>여행갈 때</td>
                            <td>카메라</td>
                            <td>536,000</td>
                            <td>13</td>
                            <td>4.3</td>
                        </tr>
                        <tr>
                            <td>232891</td>
                            <td>파티할 때</td>
                            <td>TV</td>
                            <td>1,138,000</td>
                            <td>5</td>
                            <td>3.1</td>
                        </tr>
                        <tr>
                            <td>449212</td>
                            <td>여행갈 때</td>
                            <td>캐리어</td>
                            <td>58,000</td>
                            <td>25</td>
                            <td>2.7</td>
                        </tr>
                    </table>
                </div>




            </div>



</body>
</html>